Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/*
!Content/Blueprints
!**/Animations/

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
